<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: head">
    <style>
      .sub_page {
        background-color: #fceec7;
      }
    </style>
  </head>

<body class="sub_page" >

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/resources/static/images/image.png}" alt="">
    </div>
    <header th:replace="/fragments/header :: header">
  </div>

  <!-- about section -->
  <style>
    .navbar .dropdown {
      margin-right: 20px;
    }
    .navbar .navbar-brand {
      margin-right: 10px;
    }
  </style>

  <form action="/" method="get">
    <nav class="navbar navbar-expand-lg navbar-light bg-info d-flex align-items-center">
      <span class="navbar-brand">Sort by: </span>
      <div class="dropdown me-3">
        <select class="form-select" aria-label="Default select example" name="sort_by">
          <option value="createdAt">Created date</option>
          <option value="updatedAt">Updated date</option>
        </select>
      </div>
  
      <span class="navbar-brand">Per page: </span>
      <div class="dropdown">
        <select class="form-select" aria-label="Default select example" name="per_page">
          <option selected value="2">2</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>

            <div class="input-group-prepend">
              <button class="btn btn-primary" type="submit" id="dropdownMenuButton">
                Apply filter(s)
              </button>
            </div>
          </li>
        </ul>
    </nav>

  </form>

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="post" th:each="post : ${posts}">
        <h3><a th:href="@{'/posts/'+ ${post.id}}" th:text="${post.title}">Title</a></h3>
        <h5 th:text="'Author: '+ ${post.account.firstname} + 
        ' | Created at:'+ ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')} +
        ' | Updated at:'+ ${#temporals.format(post.updatedAt, 'yyyy-MM-dd HH:mm')}"></h5>
      <hr color="grey">
      </div> 
    </div>

    <nav th:if="${links ne null}" aria-label="...">
      <ul class="pagination justify-content-center">
        <th:block th:each="link: ${links}">
          <li class="page-item">
            <th:block th:utext="${link}">link</th:block>
          </li>
        </th:block>
      </ul>
    </nav>
    
  </section>
  <footer th:replace="/fragments/footer :: footer">
</body>

</html>