<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="/fragments/head :: head">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img th:src="@{/resources/static/images/nav-bg.jpg}" alt="">
    </div>
    <header th:replace="/fragments/header :: header">
  </div>

 <!-- book section -->
 <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h4>
         Change Password
        </h4>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
            <form action="#"
                th:action="@{/change_password}"
                th:object="${account}"
                method="post">
              <div>
                <input type="hidden" id="id"  name="id" th:field="*{id}" />
                <input id="password" name="password" th:field="*{password}" type="password" class="form-control" placeholder="Password" required/>
              </div>
              <div>
                <input id="password_confirm" name="password_confirm" type="password" class="form-control" placeholder="Confirm Password" oninput="check(this)" required/>
              </div>
              <script language='javascript' type='text/javascript'>
                function check(input){
                  if (input.value!= document.getElementById('password').value){
                    input.setCustomValidity('Password must be matching')
                } else{
                  input.setCustomValidity('')
                }
              }
              </script>
              <div class="btn_box">
                <button type="submit">
                  Update Passsword
                </button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </section>
  <!-- end book section -->
  <footer th:replace="/fragments/footer :: footer">
</body>

</html>